.ust-kisim{
    background-image: url("Tüm Resimler/selife.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.aciklama-p{
    text-indent: 40px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.konum-p{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.konum-h{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.kaynakca-container
{
    background-color:lightgray;
}